<!--
 ! Excerpted from "Build Reactive Websites with RxJS",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/rkrxjs for more book information.
-->
<div class="container-fluid">
  <div class="row text-center">
    <h1>Saved Photos</h1>
  </div>
  <div class="row results">
    <div *ngFor="let photo of savedPhotos$ | async" class="result-container">
      <img [src]="photo.url" class="results-img" />
      <button class="btn btn-default results-btn" 
        routerLink="/edit/{{ photo.id }}">Edit</button>
    </div>
  </div>
</div>
