<!--
 ! Excerpted from "Build Reactive Websites with RxJS",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/rkrxjs for more book information.
-->
<div class="row">
  <div class="col-xs-6">
    <img [src]="patient.avatar"/>
  </div>
  <div class="col-xs-6">
    <span>{{ patient.firstName }} {{ patient.lastName }}</span>
    <br>
    <span>Ward: {{patient.currentWard}}</span>

    <hr>
    <button (click)="showChangeWard()">Change Ward</button>
    <select (change)="updateWard($event.target.value)" ngClass="{{changeWardClass}}">
      <option disabled>--- Choose One ---</option>
      <option *ngFor="let ward of patientData.wardTypes" value="{{ward}}">{{ ward }}</option>
    </select>
  </div>
</div>
