<!--
 ! Excerpted from "Build Reactive Websites with RxJS",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/rkrxjs for more book information.
-->
<header>
  <div class="search-container">
    <input class="search" placeholder="Search..." 
    	autofocus [formControl]="searchQuery">
  </div>
</header>
<div class="container">
  <div class="row center-text">
    <div class="btn-group">
      <button type="button" class="btn btn-default" 
      	routerLink="/">Search Photos</button>
      <button type="button" class="btn btn-default" 
      	routerLink="/savedphotos">My Saved Photos</button>
    </div>
  </div>
</div>
