<!--
 ! Excerpted from "Build Reactive Websites with RxJS",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/rkrxjs for more book information.
-->
<div class="container-fluid">
  <div class="text-center row">
    <h1>
      Patient Management
    </h1>
  </div>
  <!-- pre-generated rows, slow -->
  <app-patient-row *ngFor="let pRow of patientData.patientsByRow" [patientRowData]="pRow"></app-patient-row>

  <!-- Rows in CSS, fast updates -->
  <!-- <app-patient-display *ngFor="let patient of patientData.patients" [patient]="patient"></app-patient-display> -->
</div>
